:root {
    --main-color: rgba(20, 29, 55, 100%);
    --second-color: rgba(8, 95, 206, 255);
    --focus-color: rgba(255, 255, 255, 23%);
    --white: #fff;
    --light: #f3f3f3;
    --head: rgb(4,93,93);
    --nav: rgb(1,126,126);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5% !important;
}

html {
    scroll-behavior: smooth;
}

/* banner */

.mdban1{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%;
    padding: 2%;
    padding-bottom: 5%;
}

.mdban1 div{
    /* border: 1px solid red; */
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}


.mdban1 div:hover{
    border: 4px solid var(--);
    box-shadow: rgba(241, 91, 184, 0.24) 0px 3px 8px;
    

}
.mdban1 div img{
    width: 30%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-top: 1%;

}

.mdban1 div h2,
.mdban1 div h3,
.mdban1 div p{
    margin-left: 2%;
    margin-top: 2%;
}

.mdban1 div p{
    font-size: 1.5rem;
    text-align: justify;
}