*{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif!important;


}

:root {
    --head: rgb(4,93,93);
    --nav: rgb(1,126,126);
    --main-color: rgba(20, 29, 55, 100%);
    --second-color: rgba(8, 95, 206, 255);
    --focus-color: rgba(255, 255, 255, 23%);
    --white: #fff;
    --light: #f3f3f3;
    --grey: #7e7575;

}
  
html{
    font-size: 62.5% !important;
}

html {
    scroll-behavior: smooth;
}
.mheader{
    /* border: 1px solid red; */
    width: 100%;
    height: 3.5rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.mleftlogo{
    display: flex;
    /* border: 1px solid red; */
   

}



.mleftlogo{
    padding: 0.2% 0.2% 0.2% 0.2%;
    font-size: 1.3rem;
    color: white;
    line-height: 1.3;
   
}

.mrightside{
    display: flex;
    width: 20%;
    padding: .2rem;
    justify-content: space-between;
}

#eng{
    padding: 1.7% 1.7% 1.7% 1.7%;
    font-size: 2.2rem;
    color: white;
}

.mrightside button{
    border: 1px solid white;
    width:15%;
    border-radius: .6rem;
    font-weight: bold;
    background-color: var(--second-color);
    color: white;
    
}

.mnav{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    height: 7rem;
    background-color: var(--second-color);
    justify-content: space-between;
}

.mlogo{
    
    /* border: 1px solid red; */
    width: 10rem;
    /* margin-right: 8%;   */
}

.mlogo img{
    display: block;
    width: 100%;
    padding-bottom: 2%;
}

.mnavlist{
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    font-size: 1.6rem;
    /* margin-right: 1%; */
    justify-content: space-between;
  
}

.mnavlist a{
    margin-top: 1%;
    text-decoration: none;
    color: white;
    margin: 3%;
}

.mnavlist button{
    border: .2rem solid white;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1rem;
    background-color: var(--second-color);
}

.ban1{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    height: 55rem;
    margin-top: 1%;
    justify-content: space-around;

}

.left{
    margin-top: 6%;
    /* border: 1px solid red; */
    height: 30rem;
}

.text1{
    line-height: 1.5;
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 3%;

}

.text2{
    border: .3erm solid rgb(253,84,40); 
    color: rgb(253,84,40); 
    border-radius: .6rem; 
    line-height: 1.6; 
    width: 80%;
    margin-top: 3%;

}

.text3{
    margin-top: 3%;
}

.text4{
    margin-top: 3%;
}
