*{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif!important;

}

:root {
    --head: rgb(4,93,93);
    --nav: rgb(1,126,126);
    --main-color: rgba(20, 29, 55, 100%);
    --second-color: rgba(8, 95, 206, 255);
    --focus-color: rgba(255, 255, 255, 23%);
    --white: #fff;
    --light: #f3f3f3;
    --grey: #7e7575;

  }
 
html{
    font-size: 62.5% !important;
}

html {
    scroll-behavior: smooth;
}

section{
    width: 70%;
    margin: auto;
}
.mtop{
    /* border: 1px solid red; */
    margin-top: 3%;
    text-align: center;
    font-size: 2.5rem;
    color: var(--second-color);
}

.mbanner{
    /* border: 1px solid red; */
    display: grid;
    margin-top: 2%;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    text-align: center;

}

.mbanner div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 6px;
    padding: 20px 20px 20px 20px;
}
.mbanner>div{
    background-color: var(--light);
    color: var(--grey);
}
.mbanner div h2{
    color: var(--head);
}

.mbanner p{
    text-align: justify;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mbanner div h3{
    background-color: rgba(0, 0, 0, 0.2);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: .5rem;
    margin-bottom: 2%;
    color: var(--main-color);
}

.mbanner div img{
    width: 30%;
    mix-blend-mode: multiply;
    margin-top: 5%;
}

.mbanner div h3:hover{
    border-radius: 5px;
}
 
body{
    background: linear-gradient(45deg, #6797d5,#fff );
}

#memberServices{
    cursor: pointer;
}

#user{
    cursor: pointer;
}