*{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif!important;


}

:root {
    --head: rgb(4,93,93);
    --nav: rgb(1,126,126);
    --main-color: rgba(20, 29, 55, 100%);
    --second-color: rgba(8, 95, 206, 255);
    --focus-color: rgba(255, 255, 255, 23%);
    --white: #fff;
    --light: #f3f3f3;
    --grey: #7e7575;

}
  
html{
    font-size: 62.5% !important;
}

html {
    scroll-behavior: smooth;
}
.mheader{
    /* border: 1px solid red; */
    width: 100%;
    height: 3.5rem;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.mleftlogo{
    display: flex;
    /* border: 1px solid red; */
   

}



.mleftlogo{
    padding: 0.2% 0.2% 0.2% 0.2%;
    font-size: 1.3rem;
    color: white;
    line-height: 1.3;
   
}

.mrightside{
    display: flex;
    width: 20%;
    padding: .2rem;
    justify-content: space-between;
}

#eng{
    padding: 1.7% 1.7% 1.7% 1.7%;
    font-size: 2.2rem;
    color: white;
}

.mrightside button{
    border: 1px solid white;
    width:15%;
    border-radius: .6rem;
    font-weight: bold;
    background-color: var(--second-color);
    color: white;
    
}

.mnav{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    height: 7rem;
    background-color: var(--second-color);
    justify-content: space-between;
}

.mlogo{
    
    /* border: 1px solid red; */
    width: 10rem;
    /* margin-right: 8%;   */
}

.mlogo img{
    display: block;
    width: 100%;
    padding-bottom: 2%;
}

.mnavlist{
    /* border: 1px solid red; */
    width: 60%;
    display: flex;
    font-size: 1.6rem;
    /* margin-right: 1%; */
    justify-content: space-between;
  
}

.mnavlist a{
    margin-top: 1%;
    text-decoration: none;
    color: white;
    margin: 3%;
}

.mnavlist button{
    border: .2rem solid white;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 1rem;
    background-color: var(--second-color);
}

.ban1{
    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    height: 55rem;
    margin-top: 1%;
    justify-content: space-around;

}

.left{
    margin-top: 6%;
    /* border: 1px solid red; */
    height: 30rem;
}

.text1{
    line-height: 1.5;
    font-weight: bolder;
    font-size: 3rem;
    margin-top: 3%;

}

.text2{
    border: .3erm solid rgb(253,84,40); 
    color: rgb(253,84,40); 
    border-radius: .6rem; 
    line-height: 1.6; 
    width: 80%;
    margin-top: 3%;

}

.text3{
    margin-top: 3%;
}

.text4{
    margin-top: 3%;
}




.ban2{
    display: flex;
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 3%;
    height: 6rem;
    background-color: var(--second-color);
    justify-content: space-around;
}

.lefttext{
    /* border: 1px solid red; */
    text-align: left;
}


.lefttext p{
    margin-top: 5%;
    font-size: 1.76rem;
    font-weight: bold;
    color: white;
    
}

.lefttext h5{
    font-size: 2rem;
    margin-left: 45%;
    color: white;
}

.ban2 button{
    border: .2rem solid white;
    background-color:rgb(252,191,2);
    font-size: 1.6rem;
    border-radius: 5rem;
    padding: 1rem 2rem;
}

/* .righttext{
    border: 1px solid red;
} */

.righttext p{
    margin-top: 5%;
    font-size: 1.76rem;
    font-weight: bold;
    
}

.righttext h5{
    font-size: 2rem;
    margin-right: 45%;
   
}

.ban3{
    width: 100%;
    display: block;
    /* border: 1px solid red; */
    background-color: rgb(237,255,255);
   

}

.ban3 h2{
    text-align: center;
    padding-top: 3%;
    font-size: 3.2rem;
    color: var(--second-color)
}
.ban3 img{
    display: block;
    margin: auto;
    /* border: 1px solid red; */
    
}

.ban4{
    /* border: 1px solid red; */
    padding-top: 2%;
    text-align: center;
}

.ban4 h2{
    color: rgb(0,124,124);
    margin: auto;
}

.ban4 p{
    margin-top: 1%;
    font-size: 1.28rem;

}

.ban4 h6{
    margin-top: 1%;
    font-size: 1.44rem;
    color: var(--nav);
}

hr{
    border: .2rem solid ;
    color: rgb(174, 172, 172);
    width: 50%;
    margin: auto;
}

.location{
    /* border: 1px solid red; */
    text-align: center;
    
    
}

.location div{
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    display: flex;
    margin-top: 1%;
    /* align-items: center; */
    justify-content: space-around;
    color: rgb(128,128,128);
}

.search{
    /* border: 1px solid red; */
    display: flex;
}

.search input{
    border: .2rem solid rgb(128,128,128);
    width: 40%;
    height: 4rem;
    font-size: 1.2rem;
    border-radius: 5rem;
}

.search button{
    display: block;
    font-size: 1.6rem;
    border-radius: 5rem;
    width: 10%;
    background-color: var(--head);
    color: white;
    border: none;

}

.ban5{
    /* border: 1px solid red; */
    width: 100%;
    height: 35rem;
    margin: auto;
    margin-top: 1%;
}

.ban5 img{
    /* border: 1px solid red; */
    display: block;
    width: 90%;
    height: 100%;
    margin: auto;
}


.ban6{
    /* border: 1px solid red; */
    width: 100%;
    height: 35rem;
    margin: auto;
    background-color: rgb(237,255,255);
}

.ban6 img{
    /* border: 1px solid red; */
    display: block;
    width: 90%;
    height: 80%;
    margin: auto;
}

.ban7{
    display: flex;
    /* border: 1px solid red; */
    width: 50%;
    margin: auto;
    margin-top: 1%;
}

.ban7 div{
    /* border: 1px solid red; */
    width: 60%;
}

.ban7 img{
    /* border: 1px solid red; */
    width: 40%;
} 

.ban7 h2{
    color: var(--head);

}

.ban7 li{
    font-size: 1.28rem;
    margin-top: 2%;
    text-align: left;

}

.ban7 button{
    border: .1rem solid red;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: var(--nav);
    border: none;
    color: white;
}


.ban8{
    /* border: 1px solid red; */
    padding-top: 2%;
    text-align: center;
}

.ban8 h2{
    color: var(--second-color);
    margin: auto;
    font-size: 3.2rem;
}

.ban8 p{
    margin-top: 1%;
    font-size: 1.44rem;
    line-height: 1.3;
}

.ban5 button{
    display: block;
    /* border: 1px solid red; */
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border-radius: 50px;
    margin: auto;
    background-color: var(--nav);
    border: none;
    color: white;
}

.ban9{
    /* border: 1px solid red; */
    width: 100%;
    height: 25rem;
    margin: auto;
    background-color: var(--nav);
    margin-top: 3%;
}

.ban9 img{
    /* border: 1px solid red; */
    display: block;
    width: 90%;
    height: 80%;
    margin: auto;
}


.footer-box{
    display: grid;
    background: linear-gradient(180deg, #141d37,#085fce);
    grid-template-columns: repeat(5,1fr);
    color: #333;
    padding: 2rem;
    gap: 2rem;
}

.footer-heading{
    font-weight: 500;
    background-color: var(--focus-color);
    padding: .5rem;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: .7rem;
    color: var(--white);
}

.footer-box>div{
    width: 60%;
    
}

.footer-box>div>ul>li{
    margin-bottom: .6rem;
    margin-top: .6rem;
    
    
}

.footer-box>div a{
    color: var(--white);
    line-height: 2;
    /* border: 1px solid red; */
   
}

.footer-box>div a:hover{
    color: var(--second-color);
    font-weight: bold;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}

.last-footer {
    display: grid;
    background: linear-gradient(180deg, #141d37, #085fce);
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    color:var(--white);
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.footer-image-div{
    display: flex;
    padding-left: 25%;
    padding-right: 25%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footer-image-div img{
    width: 10rem;
    height: fit-content;
}

.footer-image-div img[src="./images/undp-logo-vertical.svg"]{
    width: 4rem;
}