*{
    margin: 0;
    padding: 0;
    font-family: Roboto,sans-serif!important;


}

:root {
    --head: rgb(4,93,93);
    --nav: rgb(1,126,126);
}
  
html{
    font-size: 62.5% !important;
}

html {
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(45deg, #6797d5,#fff );
}

.container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    border-radius: 6px;
    padding-bottom: .5%;
    gap: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.column{
    text-align: center;
    font-size: 2rem;
}


.addmember{
    font-size: 1rem;
}

.addmember h4{
    font-size: 2rem;
    text-align: center;
    padding: 2%;

}

select,input{
    font-size: 2rem;
    display: grid;
    margin: auto;
    padding: 1% 1% 1% 1%;
    margin-top: 1%;
    border-radius: 6px;
    border: none;
}

button{
    border: none;
    display: block;
    margin: auto;
    font-size: 2rem;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    border-radius: 50px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    cursor: pointer;
}

.card__img>img{
    width: 20rem;
    mix-blend-mode: multiply;
}

.columns .card{
    display: flex;
    width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    align-items: center;
    font-size: 1.6rem;
    background-color: #f3f3f3;
    border: .2rem solid grey;
    border-radius: .7rem;
}

.columns{
    margin-left: 5rem;
    margin-right: 5rem;
}

.data-list-wrapper{
    padding-top: 4/rem;
    border: .2rem dotted grey;
    border-radius: .7rem;
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100%;
}