

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5% !important;
}

html {
    scroll-behavior: smooth;
}

::placeholder {
  color: #f3f3f399 !important;
  opacity: 1;
}

body {
    background-color: var(--main-color);
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: #262121 0px 2px 8px 0px;
    min-width: 70rem;
}

.form > div > h2{
    font-size: 2.5rem;
    color: var(--white);
}

.form> div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
.form>div>p{
    color: #f3f3f3;
}

.form form,.form select{
    width: 100%;
}
.form input,
.form select{
    display: flex;
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    background-color: transparent;
    border: 2px solid #ffffff77;
    padding-left: .7rem;
    margin-top: 2rem;
}
.form input:focus,
.form select:focus{
    border-color: var(--main-color);
    outline: none;
}

.imgdiv{
    background: linear-gradient(180deg, #ff0000,#4c0909);
   border-radius: 10px;
}

form input[type="submit"]{
    cursor: pointer;
    border: none;
    color: var(--white);
    text-align: center;
    background-color: var(--main-color);
    padding-left: 43%;
}

    
form input[type="submit"]:hover,
form input[type="submit"]:focus{
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

.changer{
    width: 50%;
    margin: auto;
    margin-bottom: 4rem;
    display: grid;
    padding: .8rem;
    grid-template-columns: repeat(2,1fr);
    background-color: var(--focus-color);
    border-radius: 1rem;
    box-shadow: #262121 0px 2px 8px 0px;
}

.changer  .page{
    text-align: center;
    padding: 2rem;
    cursor: pointer;
    font-weight: bold;
}

.active{
    background-color: var(--main-color);
    border-radius: 1rem;
}